@import "../stylesheets/global.scss";
.viewoneliner--wrapper_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: $margin;
}
.oneliner--wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.oneliner--wrapper_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $margin;
  box-shadow: $box-shadow-pink;
  background-color: $white;
  width: 90%;
  font-family: $font-lato;
  font-size: 1.2em;
}
.oneliner--content_main {
  margin: $margin;
}
.oneliner--content_name {
  margin: $margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}
.image--upvote {
  width: 20px;

  &:hover {
    width: 25px;
    filter: invert(46%) sepia(98%) saturate(7490%) hue-rotate(319deg)
      brightness(94%) contrast(118%);
  }
}
@media screen and (min-width: 500px) {
  .oneliner--content_name {
    width: 40%;
  }
}
